data/
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.pkl
*.joblib
mlruns/
.dvc/
.dvc.yaml.local
venv/
env/
.env
.vscode/
.idea/
*.log
models/*.pkl
data/processed/
.DS_Store
.pytest_cache/
*.csv~
*.xlsx~
models
